/* global styles */

* {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(251,251,251);
    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(241,241,241,1) 100%);
    margin: 2% 12% 0 12%;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

@media (max-width: 1340px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 13px;
    }
}

@media (max-width: 1005px) {
    h1 {
        font-size: 25px;
    }
}

/* header with logo style and position */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}

header > img {
    width: 80px;
}

@media (max-width: 835px) {
    header {
        margin-bottom: 8%;
    }
}

/* navigation styling */

nav {
    margin: 2% 25% 4% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

nav li {
    margin-left: 10%;
    margin-right: 10%;
    transition-duration: 0.5s;
}

nav li:hover {
    background-color: #97dbc4;
    padding: 2px 8px 2px 8px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

nav a {
    text-decoration: none;
    color: black;
}

@media (max-width: 835px) {
    nav {
        margin-bottom: 10%;
    }
}

/* products box */

.products {
    background-color: #fcfcfc;
    margin: 4% 0% 4% 0%;
    padding: 6% 12% 6% 12%;
    border-radius: 60px;
    box-shadow: 0px 0px 15px 0px #d6d6d6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.products article {
    width: 65%;
}

.products img {
    height: 200px;
}

@media (max-width: 1340px) {
    .products img {
        height: 150px;
    }
}

@media (max-width: 1005px) {
    .products img {
        height: 120px;
    }
}

@media (max-width: 835px) {
    .products article {
        padding-bottom: 3%;
    }
}

/* footer styling */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 0 2% 0;;
}

.foot-lt {
    width: 50%;
}

.foot-rt {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.foot-lt img {
    width: 50px;
}

@media (max-width: 835px) {
    .foot-lt img {
        width: 35px;
    }

    .foot-rt p {
        font-size: 8px;
    }
}